<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertar Producto</title>
</head>
<body>
    <h1>Insertar Nuevo Producto</h1>
    <form action="/producto/insertar-producto" method="POST">
        <label for="imagePath">Image Path:</label>
        <input type="text" name="imagePath" id="imagePath" required><br>
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required><br>
        <label for="description">Description:</label>
        <textarea name="description" id="description" required></textarea><br>
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" required><br>
        <button type="submit">Insertar Producto</button>
    </form>
</body>
</html>
