<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizar Compra</title>
    <style>
        @media (max-width: 768px) {
            .text-center {
                font-size: 24px; 
            }
            .form-control {
                font-size: 20px; 
            }
            .btn {
                font-size: 20px; 
                padding: 12px 24px; 
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-6">
                <h1 class="text-center">Realizar Compra</h1>
                <h4 class="text-center">Total: ${{total}}</h4>
                <div id="charge-error" class="alert alert-danger {{#if noError}}d-none{{/if}}">
                    {{errMsg}}
                </div>
                <form action="/checkout" method="post" id="checkout-form">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" id="name" class="form-control" required name="name">
                    </div>
                    <div class="form-group">
                        <label for="address">Dirección</label>
                        <input type="text" id="address" class="form-control" required name="address">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-danger mr-2">Pagar Ahora</button>
                        <a href="/shopping-cart" type="button" class="btn btn-primary">Regresar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
